.SellerLogin-body {
    width: 70%;
    height: 75vh;
    margin: auto;
    display: flex;
    padding: 1%;
    border-radius: 12px;
    background-color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.SellerLogin-content {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SellerLogin-logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SellerLogin-poster {
    width: 90%;
    margin: auto;
}
.SellerLogin-text-body {
    flex: 3;
    display: flex;
    align-items: center;
}
.SellerLogin-text {
    font-size: 36px;
    width: 90%;
    margin-left: 5%;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
}

.SellerLogin-input-main {
    flex: 7;
}

.SellerLogin-remember {
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: baseline;
    margin-top: 5%;
}

.SellerLogin-checkbox {
    flex: 1;
}

.SellerLogin-remember-text {
    flex: 9;
    font-family: Roboto;
    color: #19A7CE;
}

.SellerLogin-login {
    width: 20%;
    margin: auto;
    background-color: #19A7CE;
    color: black;
    border-radius: 6px;
    text-align: center;
    padding: 2%;
    font-family: Roboto;
    margin-top: 8%;
    opacity: 0.9;
}

.SellerLogin-login:hover {
    cursor: pointer;
    opacity: 1;
}

.SellerLogin-create {
    text-decoration: underline 1px solid;
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1%;
    color: white;
}

.SellerLogin-create > a {
    color: white;
}

.SellerLogin-create:hover {
    cursor: pointer;
}

.SellerLogin-create2 {
    text-decoration: underline 1px solid;
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1%;
    color: #19A7CE;
    margin-top: 2%;
}

.SellerLogin-create2 > a {
    color: #19A7CE;
}

.SellerLogin-create2:hover {
    cursor: pointer;
}

.SellerSignup-text-body {
    flex: 1;
    display: flex;
    align-items: center;
}

.SellerSignup-input-main {
    flex: 4;
}

/* Seller add Product */
.SellerAddProduct-body {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 84vh;
    width: 96%;
    background-color: #222222;
    display: flex;
    border-radius: 8px;
}

.SellerAddProduct-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.SellerAddproduct-image {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SellerAddproduct-image-selecter {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.SellerAddproduct-image-content {
    max-height: 98%;
    max-width: 98%;
    margin: 2%;
}

.SellerAddProduct-right {
    flex: 1;
    padding-top: 2%;
}

.SellerAddProduct-option {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.SellerAddProduct-upload {
    width: 20%;
    background-color: #19A7CE;
    color: black;
    border-radius: 6px;
    text-align: center;
    padding: 1.5%;
    font-family: Roboto;
    opacity: 0.9;
    margin: auto;
    margin-top: 1%;
}

.SellerAddProduct-upload:hover {
    cursor: pointer;
    opacity: 1;
}

.SellerAddProduct-upload-body {
    margin-top: 5%;
}

.SellerAddProduct-error {
    color: red;
    width: 88%;
    margin: auto;
}

.SellerAddProduct-progress {
    width: 80%;
    margin: auto;
}
.BuyerAddresses-main-card {
    margin-top: 1%;
  }
  /* Seller Profile Page */

.SellerProfile-page {
    font-family: Roboto;
  }
  .SellerProfile-main {
    background-color: #222222;
    margin: 1% 2%;
    padding: 1%;
    border-radius: 8px 8px 0px 0px;
  }
  .SellerProfile-div {
    font-size: 30px;
    margin: 1%;
    display: flex;
    color: #19A7CE;
  }
  .SellerProfile-othermain {
    background-color: #222222;
    margin: 1% 2%;
  }
  .SellerProfile-othermain:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }
  .SellerProfile-otherdiv {
    font-size: 30px;
    padding: 1%;
    padding-left: 5%;
    display: flex;
    color: #19A7CE;
  }
  .SellerProfile-image {
    font-size: 2rem;
  }
  .SellerProfile-title {
    margin-left: 1%;
  }
  .SellerProfile-sub {
    width: 90%;
    margin-left: 5%;
    font-size: 24px;
    margin-top: 1%;
  }
  .SellerProfile-namediv {
    font-size: 24px;
    display: flex;
    margin: 2% 0%;
  }
  .SellerProfile-hello {
    flex: 2;
  }
  .SellerProfile-name {
    flex: 30;
  }
  .SellerProfile-details {
    display: flex;
    width: 100%;
  }
  .SellerProfile-addressdiv1 {
    flex: 2;
  }
  .SellerProfile-addressdiv2 {
    flex: 1;
  }
  .SellerProfile-mobilenumberdiv {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .SellerProfile-sub2 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .SellerProfile-dis {
    color: #19A7CE;
    font-size: 18px;
  }
  
  .redi {
    border-radius: 0px 0px 8px 8px;
  }
  
  .SellerProfile-changepassword {
    background-color: #222222;
    margin: 1% 2%;
    display: flex;
    flex-direction: column;
  }
  
  .changepassword-input-body {
    font-size: 30px;
    padding: 1%;
    padding-left: 5%;
    display: flex;
    color: #19A7CE;
    display: flex;
  }
  
  .changepassword-title {
    margin-left: 1%;
  }
  .change-input {
    flex: 2;
  }
  .changepassword-buttonbody {
    display: flex;
    justify-content: baseline;
    margin-top: 1%;
    padding-bottom: 2%;
  }
  
  .change-input > input {
    background-color: #19A7CE;
    color: black;
    font-size: 18px;
    padding: 1%;
    border: none;
    outline: none;
    width: 74%;
    margin-left: 16%;
    /* height: 80%; */
  }
  .changepassword-button {
    flex: 2;
  }
  .changepassword-btn {
    width: 20%;
    font-size: 18px;
    background-color: #19A7CE;
    color: black;
    border-radius: 6px;
    text-align: center;
    padding: 1%;
    margin-left: 0;
    opacity: 0.9;
  }
  .changepassword-btn:hover {
    cursor: pointer;
    opacity: 1;
  }