.ProductCardview {
    background-color: black;
    height: 40vh;
    width: 30vh;
    border-radius: 6px;
    margin: 0.6%;
    font-family: Roboto;
}

.ProductCardview-sub {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ProductCardview-imagediv {
    max-height: 30vh;
      width: 30vh;
      flex: 3;
}

.ProductCardview-image {
    margin: 3%;
    height: 94%;
    width: 94%;
}

.ProductCardview-details {
    flex: 1;
}

.ProductCardview-title {
    font-size: 22px;
    color: #F6F1F1;
    font-size: medium;
    font-family: Roboto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    margin: 3% 5% 0% 5%;
}

.ProductCardview-price-body {
    margin-top: 3%;

    font-size: medium;
    text-align: center;
    color: #19A7CE;
}

/* Address card  */
.AddressCard-main {
    width: 45%;
    min-height: 15vh;
    background-color: #2e2e2e;
    border-radius: 6px;
    margin: 1%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.AddressCard-name-body {
    flex: 1;
    overflow: hidden;
}

.AddressCard-name {
    padding: 0;
    margin: 0;
    margin-left: 8px;
    margin-top: 8px;
    font-size: xx-large;
    color: #146C94;
}

.AddressCard-email-body {
  flex: 1;
  overflow: hidden;
  margin-top: 1%;
}

.AddressCard-emal {
  padding: 0;
  margin: 0;
  margin-left: 8px;
  margin-top: 8px;
  font-size: x-large;
  color: white;
}

.AddressCard-address-body {
    flex: 3;
    height: 15vh;
    overflow-y: auto;
    margin-top: 1%;
    padding-bottom: 2%;
}

.AddressCard-address {
    padding: 0;
    margin: 0;
    margin-left: 8px;
    margin-top: 8px;
    color: white;
    font-size: large;
}

/************** General card(for wishlist)***********************/

.GeneralCardview {
    background-color: #2e2e2e;
    font-family: Roboto;
    width: 47%;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 4px;
    height: 30vh;
}

.GeneralCardview-main {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
}

.GeneralCardview:hover {
    transition: 0.4s;
    transform: scale(1.03);
}

.GeneralCardview-imagediv {
    flex: 2;
    max-height: 25vh;
    min-width: 25%;
}

.GeneralCardview-image {
    margin: 5%;
    height: 90%;
    width: 90%;
}

.GeneralCardview-info {
    flex: 4;
    margin-left: 5%;
}

.GeneralCardview-title {
    font-size: 36px;
    padding: 2%;
    padding-left: 0%;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5%;
}

.GeneralCardview-sub {
    margin-bottom: 1%;
}

.GeneralCardview-namediv {
    display: flex;
    align-items: baseline;
    margin-top: 1%;
}

.GeneralCardview-name {
    flex: 1;
    font-size: 18px;
    color: #19A7CE;
}

.GeneralCardview-value {
    flex: 4;
    margin-left: 10%;
    font-size: 22px;

}

/* Live Product Card */

.LiveProductCard {
    background-color: #2e2e2e;
    font-family: Roboto;
    width: 47%;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 6px;
    height: 35vh;
}

.LiveProductCard-main {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
}

.LiveProductCard:hover {
    transition: 0.4s;
    transform: scale(1.03);
}

.LiveProductCard-imagediv {
    flex: 2;
    max-height: 28vh;
    min-width: 25vh;
}

.LiveProductCard-image {
    margin: 5%;
    max-height: 25vh;
    width: 90%;
}

.LiveProductCard-info {
    flex: 4;
    margin-left: 5%;
}

.LiveProductCard-title {
    font-size: 36px;
    padding: 2%;
    padding-left: 0%;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.LiveProductCard-sub {
    margin-bottom: 1%;
}

.LiveProductCard-namediv {
    display: flex;
    align-items: baseline;
    margin-top: 1%;
}

.LiveProductCard-name {
    flex: 2;
    font-size: 18px;
    color: #19A7CE;
}

.LiveProductCard-value {
    flex: 4;
        font-size: 22px;
    }
    
    .CategoryCard-mainpage {
      display: flex;
      /* border: 1px solid red; */
      margin: 1%;
      border-radius: 6px;
        background-color: #2e2e2e;
        font-family: Roboto;
      }
      .CategoryCard-main {
        height: 40vh;
        width: 30vh;
     
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: white;
    }
    
    .CategoryCard-main-icon {
        font-size: 4rem;
    }
    
    .Category-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: auto;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    
    .CategoryCard-main:hover {
        cursor: pointer;
    }
    
    .CategoryCard-main:hover>.CategoryCard-main-icon {
        color: #19A7CE;
}

/********* FAQCard ************/

  
  /* Request card  */
  
  .RequestCard-main {
    /* border: 1px solid red; */
    background-color: #2e2e2e;
    height: 30vh;
    width: 30%;
    border-radius: 6px;
    margin: 1%;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.RequestCard-namebody {
    color: white;
    font-size: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border: 2px solid green; */
    flex: 1;
    margin: 3%;
    margin-bottom: 0;
  }
  .RequestCard-mailbody {
    /* border: red 1px solid; */
    font-size: 18px;
    flex: 1;
    margin: 3%;
    margin-top: 0;
    color: #19A7CE;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .RequestCard-productbody {
    flex: 1;
    /* border: blue 1px solid; */
    font-size: 24px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -2%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
  }
  .RequestCard-Buttondiv {
    flex: 1;
    display: flex;
    justify-content: center;
    /* border: 1px solid greenyellow; */
    width: 90%;
    margin: auto;
    /* padding-bottom: 1%; */
  }
  .RequestCard-Buttons {
    flex: 1;
  }

  /* Seller Active Product card */

.SellerLiveProduct {
    background-color: #2e2e2e;
    font-family: Roboto;
    width: 47%;
    height: 35vh;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 4px;
  }
  .SellerLiveProduct-main {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
  }
  .SellerLiveProduct:hover {
    transition: 0.4s;
    transform: scale(1.03);
  }
  
  .SellerLiveProduct-imagediv {
    flex: 2;

  }
  .SellerLiveProduct-image {
    margin: 5%;
    max-height: 30vh;
    width: 25vh;
  }
  
  .SellerLiveProduct-info {
    flex: 4;
    margin-left: 5%;
  }
  .SellerLiveProduct-title {
    font-size: 36px;
    padding: 2%;
    padding-left: 0%;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .SellerLiveProduct-sub {
    margin-bottom: 1%;
  }
  .SellerLiveProduct-namediv {
    display: flex;
    align-items: baseline;
    margin-top: 1%;
  }
  .SellerLiveProduct-name {
    flex: 2;
    font-size: 18px;
    color: #19A7CE;
  }
  .SellerLiveProduct-value {
    flex: 4;
    font-size: 22px;
  }

  /* Seller general card view */

.GeneralCardviewSeller {
    background-color: #2e2e2e;
    font-family: Roboto;
    width: 47%;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 4px;
    padding-bottom: 1%;
  }
 
  .GeneralCardviewSeller-main {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
  }
  .GeneralCardviewSeller-mainsub:hover {
    transition: 0.4s;
    transform: scale(1.01);
  }
  
  .GeneralCardviewSeller-imagediv {
    flex: 2;
    height: 25vh;
  }
  .GeneralCardviewSeller-image {
    margin: 5%;
    height: 90%;
    width: 90%;
  }
  
  .GeneralCardviewSeller-info {
    flex: 4;
    margin-left: 5%;
  }
  .GeneralCardviewSeller-title {
    font-size: 36px;
    padding: 2%;
    padding-left: 0%;
  }
  .GeneralCardviewSeller-sub {
    margin-bottom: 1%;
  }
  .GeneralCardviewSeller-namediv {
    display: flex;
    align-items: baseline;
    margin-top: 1%;
  }
  .GeneralCardviewSeller-name {
    flex: 1;
    font-size: 18px;
    color: #19A7CE;
  }
  .GeneralCardviewSeller-value {
    flex: 4;
    margin-left: 10%;
    font-size: 22px;
  }
  
  .GeneralCardviewSeller-buttons {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  .GeneralCardviewSeller-button {
    flex: 1;
    max-width: 35%;
    padding: 1%;
    border: 3px solid #146C94;
    background-color: #19A7CE;
    border-radius: 4px;
  }
    .GeneralCardviewSeller-button:hover {
      cursor: pointer;
    }
  .GeneralCardviewSeller-Buttonbody {
    display: flex;
    color: #146C94;
    font-size: 20px;
    justify-content: center;
  }
  .GeneralCardviewSeller-iconbuttonname {
    margin: 0%;
    margin-left: 3%;
  }
  .GeneralCardviewSeller-button:hover {
    opacity: 0.9;
  }