.ProductCardview {
    background-color: black;
    height: 280px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 5px;
}

.ProductCardview-title {
    color: #0E8388;
    margin: 0;
    font-size: medium;
    font-family: Roboto;
    margin: 5% 0%;
    padding: 1% 3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 1px;
}

.ProductCardview-price-body {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.ProductCardview-price {
    margin: 0;
    font-family: Roboto;
    margin-left: 5%;
    font-size: medium;
    color: #CBE4DE;
}

.ProductCardview-formatprice {
    margin: 0;
    font-family: Roboto;
    font-size: small;
    margin-right: 5%;
    color: #CBE4DE;
}
