.Footer {
    background-color: #2C3333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Footer-text {
    margin: 5px;
    color: white;
    font-family: Roboto;
}
