.DashboardHeader {
    background-color: #272727;
  padding: 1%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.DashboardHeader-body {
    display: flex;
  background-color: #333333;
  width: 50%;
  margin-left: 5%;
  align-items: center;
  border-radius: 4px;
}

.DashboardHeader-search {
    flex: 9;
  background-color: #333333;
  color: white;
  font-size: 18px;
  padding: 1.25%;
  letter-spacing: 1px;
  font-family: Roboto;
  border: none;
  outline: none;
  margin-left: 4px;
}

.DashboardHeader-search:focus {
    outline: none;
  border: none;
}

.DashboardHeader-search-icon {
    font-size: 2rem;
  color: #bb86fc;
  flex: 1;
}

.DashboardHeader-search-icon:hover {
    cursor: pointer;
}
.ProductHeader-main {
  background-color: #272727;
  padding: 1%;
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: 5%;
}

.ProductHeader-body {
  width: 100%;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  color: #bb86fc;
}
