Button-main {
    width: 200%;
    border: 3px solid #994af1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 5%;
    background-color: #e2cdfd;
    cursor: pointer;
  }
  .Button-main:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .Button-main-icon {
    font-size: 1.5rem;
    color: #994af1;
    text-align: center;
  }
  .Button-name {
    margin: 0;
    padding: 0;
    padding: 2%;
    font-size: 24px;
  }