/* Buyer Address page */

.BuyerAddresses-main {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.BuyerAddresses-main-card {
  padding-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.BuyerViewProduct-body {
  display: flex;
}

.BuyerViewProduct-sub {
  flex: 7;
  background-color: #222222;
  border-radius: 4px;
  margin: 1%;
}
.BuyerViewProduct-imagediv {
  flex: 5;
  display: flex;
  flex-direction: column;
  margin: 1%;
}
.BuyerViewProduct-imagesub {
  position: sticky;
  top: 10%;
}
.BuyerViewProduct-image {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BuyerViewProduct-title {
  font-size: 36px;
  font-family: Roboto;
  color: white;
  padding: 2%;
}

.BuyerViewProduct-pricediv {
  font-family: Roboto;
  display: flex;
  margin-top: 2%;
  align-items: baseline;
  justify-content: space-around;
}
.BuyerViewProduct-price {
  font-size: 30px;
  color: #cfabfd;
  font-family: Roboto;
}

.BuyerViewProduct-formatprice {
  font-size: 24px;
  font-family: Roboto;
  color: #bb86fc;
}

.BuyerViewProduct-category {
  width: 90%;
  margin-left: 5%;
  display: flex;
  align-items: baseline;
  }
  
  .BuyerViewProduct-category-text {
    font-size: 16px;
    font-family: Roboto;
    color: #cfabfd;
      flex: 1;
}

.BuyerViewProduct-category-type {
  font-size: 24px;
  font-family: Roboto;
  color: white;
  flex: 3;
}

.BuyerViewProduct-seller-details {
  font-family: Roboto;
  width: 90%;
  display: flex;
  margin-left: 5%;
  align-items: baseline;
}
.BuyerViewProduct-seller {
  font-size: 16px;
  font-family: Roboto;
  color: #cfabfd;
    flex: 3;
}
.BuyerViewProduct-sellername {
  font-size: 24px;
  font-family: Roboto;
  color: white;
  flex: 5;
}

.BuyerViewProduct-seller-button {
  flex: 4;
}

.BuyerViewProduct-description-title {
  font-size: 16px;
  font-family: Roboto;
  color: #cfabfd;
  width: 90%;
  margin-left: 5%;
}

.BuyerViewProduct-description-content {
  font-size: large;
  font-family: Roboto;
  color: white;
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;
}

.BuyerViewProduct-buttons {
  margin-top: 3%;
  display: flex;
  color: #994af1;
  justify-content: center;
  align-items: center;
}

hr {
  border-color: #383838;
}


/* Buyer checkout page */

.BuyerCheckout-main {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  width: 94%;
  font-family: Roboto;
  color: white;
  background-color: #222222;
  border-radius: 4px;
}

.BuyerCheckout-title {
  font-size: 36px;
  padding: 2%;
}

.BuyerCheckout-description-title {
  font-size: 16px;
  font-family: Roboto;
  color: #cfabfd;
  width: 94%;
  margin-left: 3%;
  margin-top: 1%;
}

.BuyerCheckout-description-content {
  font-size: 20px;
  font-family: Roboto;
  color: white;
  margin-top: 1%;
  width: 94%;
  margin-left: 3%;
}

.BuyerCheckout-address {
  margin-top: 1%;
  display: flex;
  width: 94%;
  margin-left: 3%;
  align-items: baseline;
}
.BuyerCheckout-add {
  flex: 1;
}
.BuyerCheckout-Buyeraddress {
  flex: 5;
  font-size: 22px;
  color: white;
}
.BuyerCheckout-confirmdiv {
  display: flex;
  font-size: larger;
  margin-top: 1%;
  align-items: center;
  width: 94%;
  margin-left: 3%;
}

.BuyerCheckout-confirmdiv input {
  flex: 1;
  cursor: pointer;
  font-size: 22px;
  height: 20px;
  width: 20px;
}

.BuyerCheckout-confirm {
  flex: 15;
  font-size: 20px;
  }
  
  .BuyerCheckout-total {
    flex: 2;
    color: #cfabfd;
    font-size: 16px;
}

.BuyerCheckoutPrice {
  flex: 5;
  color: white;
  font-size: 36px;
}

.BuyerCheckout-buttons {
  color: #994af1;
  display: flex;
  width: 90%;
  margin-left: 5%;
  padding: 2% 0%;
}