.App {
    min-height: 100vh;
    padding: 0;
}

.Drawer {
    width: 16%;
}

.Main-body {
    width: 84%;
    min-height: 100vh;
    float: right;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #F6F1F1;
}

.Main-body *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
